extends layout

block content
  
  h2 Hjälp

  h3#get-mac-address Hur får jag tag i min MAC-adress?
  h4 Windows
  p Skriv i kommandoprompten (CMD):

  pre ipconfig /all
  p Kopiera sedan texten efter HWAddr som ungefär ser ut såhär (under trådlös adapter):

  pre AB-BC-CD-DE-EF-FG
  p Efter du har kopierat den, se till att du ersätter linjerna (-) med kolon (:), så blir det enklare för oss.

  h4 Linux
  p Skriv:

  pre ifconfig | grep wlan0
  p Och kopiera texten efter HWaddr som ungefär ser ut såhär:

  pre ab:bc:cd:de:ef:fg
  h4 Android
  p Under inställningar, gå till WiFi. Tryck på meny knappen, välj Avancerat och kopiera MAC adressen:

  pre 11:22:33:44:55:66

  h3#what-is-cjdns Vad är CJDNS?
  
  p
    b 
      a(href='http://en.wikipedia.org/wiki/Cjdns') CJDNS
    |  är ett nätverksprotokoll som implementerar ett krypterat IPv6 nätverk. Varje dator i nätverket måste köra CJDNS för att kunna ansluta.

  p
    | När du ansluter till nätverket med CJDNS ska du använda dig utav
    em  ETHInterface
    |  med inställningen "bind: 2". Du kommer inte att komma åt Internet, utan istället 
    a(href='https://wiki.projectmeshnet.org/Hyperboria') Hyperboria
    | , för att komma åt Internet har vi ordnat en tunnel. Denna tunnel kan du ansluta till senare med hjälp av CJDNS.

  p
    | Läs instruktionerna nedan för att se hur man installerar.

  h3#install-cjdns Hur installerar jag CJDNS?

  h4 Windows

  p Ladda ner arkrivet för din processorarkitektur:

  ul
    li
      a(href='#lalala') 64-bit
    li
      a(href='#lelele') 32-bit

  p Extrahera arkivet på en lämplig plats, starta sedan en kommandoprompt (CMD) och skriv:

  pre
    | DIR "mappen som arkivet extraherats till"

  p Starta sedan CJDNS med:

  pre cjdroute < cjdroute.conf

  p 
    | Klar! Vill du kompilera CJDNS själv så kan du läsa mer här: 
    a(href='https://github.com/cjdelisle/cjdns/blob/master/doc/windows.md') https://github.com/cjdelisle/cjdns/blob/master/doc/windows.md

  h4 Linux

  p Börja med att hämta arkivet från GitHub:

  pre wget https://github.com/cjdelisle/cjdns/archive/master.zip

  p Placera arkrivet i en lämplig mapp, extrahera sedan:

  pre unzip master.zip

  p Gå in i den extraherade mappen, kompilera och konfigurera CJDNS med:

  pre ./do && ./cjdroute --genconf > cjdroute.conf

  p Öpnna cjdroute.conf och ta bort kommentarstecken för ETHInterface, spara och starta sedan CJDNS med:

  pre ./cjdroute < cjdroute.conf

  h4 Android

  p 
    | Det finns inget okomplicerat sätt att installera CJDNS på Android, med det går! Läs mer om det här: 
    a(href='https://github.com/cjdelisle/cjdns/tree/master/contrib/android') https://github.com/cjdelisle/cjdns/tree/master/contrib/android
