extends layout

block content
  
  h2 Hjälp

  h3#what-is-cjdns Vad är CJDNS?
  
  p
    b CJDNS
    |  är ett nätverksprotokoll som implementerar ett krypterat IPv6 nätverk. Varje dator i nätverket måste köra CJDNS för att kunna ansluta.

  p
    | När du ansluter till nätverket med CJDNS ska du använda dig utav
    em  ETHInterface
    |  med inställningen "bind: 2". Du kommer inte att komma åt Internet, utan istället Hyperboria, för att komma åt Internet har vi ordnat en 
    a(href='/iptunnel') IP tunnel
    | . Denna tunnel kan du ansluta till senare med hjälp av CJDNS.

  p
    | Läs instruktionerna nedan för att se hur man installerar.

  h3#install-cjdns Hur installerar jag CJDNS?

  h4 Windows

  p Ladda ner den exekverbara filen: 
    a(href='/download/cjdns-windows.exe') /download/cjdns-windows.exe

  p Kör 
    em cjdns-windows.exe
    |  och följ instruktionerna.

  p Efter installationen har slutförts redigera filen:
    pre C:\Program Files (x86)\cjdns\cjdroute.conf
    |  och ta bort kommentarstecken för ETHInterface, ändra även 
    pre "bind": "eth0"
    |  till rätt nätverksgränssnitt och 
    pre "beacon": "0"
    |  till 
    pre "beacon": "2"

  p Starta sedan om CJDNS i en kommandotolk (som administratör) med:

  pre
    | net stop cjdns
    | net start cjdns 

  h4 Linux

  p Börja med att hämta arkivet: 
    a(href='/download/cjdns-linux.tar.gz') /download/cjdns-linux.tar.gz

  p Placera arkivet i en lämplig mapp, extrahera sedan med:

  pre tar -zxvf cjdns-linux.tar.gz

  p Gå in i den extraherade mappen, kompilera och konfigurera CJDNS med:

  pre ./do && ./cjdroute --genconf > cjdroute.conf

  p Öpnna cjdroute.conf och ta bort kommentarstecken för ETHInterface, ändra även 
    pre "bind": "eth0"
    |  till rätt nätverksgränssnitt och 
    pre "beacon": "0"
    |  till 
    pre "beacon": "2"

  p Starta sedan om CJDNS i en terminal med:
  pre ./cjdroute < cjdroute.conf
