extends layout

block content

  h2 Welcome to #{conf.hotspot.title}

  p This network is CJDNS based, to connect you'll need to run CJDNS.

  h3 Download CJDNS

  each link, os in conf.download
    div
      b= os + ': '
      a(href='#{link.url}')= link.name
