- var err = #{err}
extends layout

block content

  h2 Välkommen till #{title}

  p #{title} är ett CJDNS baserat nätverk, för att kunna ansluta måste du köra CJDNS och även registrera din e-post och MAC-adress. 

  h3 Registrera
  form(action='/register', method='post')
    if err
      h4 Kunde inte hitta din MAC-adress, skriv in den manuellt istället.

    div
      label(for='fullname') Namn:
      br
      input(type='text', id='fullname', name='fullname', placeholder='John Doe')

    div
      label(for='email') E-post:
      br
      input(type='email', id='email', name='email', placeholder='me@example.com')

    div
      label(for='phone') Telefonnummer:
      br
      input(type='text', id='phone', name='phone', placeholder='0498123456')

    div
      label(for='macaddress')
        | MAC-adress (
        a(href='/help/#get-mac-address') ?
        | ):
      br
      input(type='text', id='macaddress', name='macaddress', placeholder='01:23:45:67:89:ab', value='#{mac}')

    div
      button(type='submit') Skicka
