extends layout

block content

  h3 IPTunnel registration

  p For access to the Internet, please register for an iptunnel below.

  pre#con-status Trying to connect server via CJDNS...
  pre#con-error

  form(action='#no-hype-connection', method='post', id='register')
    div
      label(for='fullname') Name:
      br
      input(type='text', id='fullname', name='fullname', placeholder='John Doe')

    div
      label(for='email') E-mail:
      br
      input(type='email', id='email', name='email', placeholder='me@example.com')

    div
      label(for='phone') Phone number:
      br
      input(type='text', id='phone', name='phone', placeholder='0498123456')
    
    div
      button(type='submit') Submit
  
  script(src='/src/javascript/iptunnel.js')
  script(src='/api/hypeinfo?callback=hypeInfo')
