doctype html
html
  head
    title CJDNS Hotspot
    link(rel='stylesheet', href='/build/stylesheets/hotspot.css')
  body
    #main-wrapper
      #inner-wrapper
        h1 CJDNS Hotspot
        ul
          li
            a(href='/') Home
          li
           a(href='/help') Help

        hr

        block content

        hr
        p.center
          em Contact: 
            a(href='mailto:info@example.com') info@example.com
