doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/hotspot.css')
  body
    h1= title
    hr

    block content

    hr
    em Kontakt: 
      a(href='mailto:info@htsit.se') info@htsit.se
