doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/build/stylesheets/hotspot.css')
  body
    #main-wrapper
      #inner-wrapper
        h1= title
        ul
          li
            a(href='/') Hem
          li
           a(href='/help') Hjälp

        hr

        block content

        hr
        p.center
          em Kontakt: 
            a(href='mailto:info@htsit.se') info@htsit.se
