doctype html
html
  head
    title= conf.hotspot.title
    link(rel='stylesheet', href='/build/stylesheets/hotspot.css')
  body
    #main-wrapper
      #inner-wrapper
        h1= conf.hotspot.title
        ul
          li
            a(href='/') Home
          if conf.hotspot.iptunnel
            li
              a(href='/iptunnel') IPTunnel
          li
           a(href='/help') Help

        hr

        block content

        hr
        p.center
          em Contact: 
            a(href='mailto:#{conf.hotspot.email}')= conf.hotspot.email
