extends layout

block content

  h3 IPTunnel registration

  p Paste the following text to "outgoingConnections".
  pre "#{cred}"

  h4 Example
  pre
    | "outgoingConnections": [
    |   "#{cred}"
    | ]
